<!-- carousel -->
<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Gadai</h2>
          <p class="slide__text-desc">Produk Gadai dari Pegadaian dengan agunan berupa Emas dan barang lainnya.</p>
          <a routerLink="/login" class="btn btn-lg btn-block">
            Gadai Sekarang
          </a>
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Mikro</h2>
          <p class="slide__text-desc">Produk Mikro dari Pegadaian dengan agunan BPKB hingga pembelian emas secara kredit.</p>
          <a routerLink="/login" class="btn btn-lg btn-block">Ajukan Mikro Sekarang</a>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Tabungan Emas</h2>
          <p class="slide__text-desc">Produk Tabungan Emas dari Pegadaian, dengan minimal transaksi Rp. 5000,- sudah dapat menabung.</p>
          <a routerLink="/login" class="btn btn-lg btn-block">Menabung Sekarang</a>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Galeri Emas</h2>
          <p class="slide__text-desc">Pembelian Emas Batangan secara Tunai dengan asuransi pengiriman sampai ke rumah Anda dengan selamat.</p>
          <a routerLink="/login" class="btn btn-lg btn-block">Beli Emas Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end carousel -->

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Kemudahan Bertransaksi</h1>
        <p class="lead">Kini Ada Pada Genggaman Anda, Langsung dari Handphone atau Komputer Anda</p>
      </div>
      <div class="col-md-5">
        <h1 class="pull-right"><i class="glyphicon glyphicon-earphone"></i> <i
          class="glyphicon glyphicon-phone"></i> <i
          class="glyphicon glyphicon-blackboard"></i></h1>
      </div>
    </div>
  </div>
</div>

<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Proses Cepat</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-pencil"></i>
          <h4>Registrasi</h4>
          <p>Masukan data yang akan digadai</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-map-marker"></i>
          <h4>Pilih Outlet</h4>
          <p>Pegadaian terdekat di sekitar Anda</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-ok"></i>
          <h4>Verifikasi</h4>
          <p>Kami akan memverifikasi data & gadaian Anda</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="glyphicon glyphicon-usd"></i>
          <h4>Selesai</h4>
          <p>Terima Uang Pinjaman sesuai Taksiran</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blurb" id="sec3">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1><img class="img-responsive about" src="https://image.flaticon.com/icons/png/512/252/252034.png"/>
        </h1>
      </div>
      <div class="col-md-7">
        <h1 class="pull-right">Harga Bersaing</h1>
        <p class="lead pull-right">Harga Emas yang sesuai dengan harga pasar</p>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="sec4">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Pembayaran Lebih Mudah</h2>
      <h5>Cicilan maupun Pembayaran dapat dilakukan dimanapun</h5>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <h3>Transfer Bank</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>BCA KlikPay</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>BRI Virtual Account (BRIVA)</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Mandiri e-Cash</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Pos Indonesia</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>7-Eleven</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>KlikBCA</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>BNI Virtual Account</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>e-Pay BRI</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Mandiri Clickpay</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Alfamart</h3>
    </div>
    <div class="col-sm-3 text-center">
      <h3>Indomaret</h3>
    </div>
  </div>
</div>

<hr>

<div class="blurb bright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Hubungi Kami</h3>
        <p class="lead"></p>
      </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="row hidden-xs">
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124010.svg"></div>
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124021.svg"></div>
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124032.svg"></div>
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124027.svg"></div>
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124013.svg"></div>
          <div class="col-sm-2"><img class="img-circle about"
                                     src="https://image.flaticon.com/icons/svg/124/124015.svg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
